@model WeddingPlanner.Models.LoginUserForm

<form asp-controller="Home" asp-action="Login" method="post">
    <div class="form-group">
        <label asp-for="@Model.EmailLog"></label>
        <div>
            <span asp-validation-for="@Model.EmailLog"></span>
            <input type="email" asp-for="@Model.EmailLog">
        </div>
    </div>
    <div class="form-group">
        <label asp-for="@Model.PasswordLog"></label>
        <div>
            <span asp-validation-for="@Model.PasswordLog"></span>
            <input type="password" asp-for="@Model.PasswordLog">
        </div>
    </div>
   
    <input class='btn btn-primary' type="submit" value='Login'>
</form>